<br/>

<% if(post.comments){ %>
	<% post.comments.forEach(function(comment,index){ %>
		<p class="comment-info">
			<img src="<%= comment.head %>" class="l_head" alt="">
			<a href="<%= comment.website %>"><%= comment.name %>' : '</a>
			<span><%= comment.content %></span>
		</p>
		<p class="comment-time">回复于<%= comment.time %></p>		
	<% }) %>
<% } %>




<form action="/u/<%= user.name %>/<%= post.time.day %>/<%= title %>" method='post'/>
	<% if(user) { %>
		姓名： <input type="text" name="name" value="<%= user.name %>"/><br/>
		邮箱： <input type="text" name="email" value="<%= user.email %>"/><br/>
		网址： <input type="text" name="website" value="/u/<%= user.name %>"/><br/>
	<% }else{ %>
		姓名： <input type="text" name="name" /><br/>
		邮箱： <input type="text" name="email" /><br/>
		网址： <input type="text" name="website" value="http://>"/><br/>
	<% } %>

	<textarea name="content" id="" cols="80" rows="5"></textarea><br/>
	<button class="submit">留言</button>
</form>


